.App {
    width: 450px;
    height: 550px;
    margin: 10vh auto 10px auto;
    text-align: center;
    border: 1px solid black;
}

.main {
    width: 400px;
    height: 500px;
    margin: 20px auto 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__block {
    margin-left: 10px;
}

.node-block__main:hover {
    cursor: pointer;
}

.root:hover {
    cursor: pointer;
}

.node {
    position: relative;
    left: 25px;
    text-align: start;
}

.btn:focus {
    background-color: black;
    color: greenyellow;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.App__input {
    border: 1px solid black;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    width: 450px;
}

.App__input input {
    padding-left: 15px;
}

.App__input .btn {
    margin-left: 5px;
}